-provide(:title, "All Kohls Coupons Home Page | #{@user.user_name}")
.page-header
  %h1 
    Homepage for #{@user.user_name}
= render 'shared/user_nav_tabs'
.tab-content
  %h4
    Profile
  .row
    .s6.l6.col-md-offset-3
      .well.well-lg
        = bootstrap_form_for(@user) do |f|
          = f.alert_message "Please fix the errors below."
          %p!="<b>User name:</b>  #{@user.user_name}"
          = f.email_field :email
          = f.text_field :full_name, help: 'Optional'
          = f.password_field :password, help: 'Must be at least 6 characters long'
          = f.password_field :password_confirmation, help: 'Must match password'
          = f.email_field :paypal_email, help: "Optional (please provide if email doesn't match you paypal email)"
          %p.text-center
            = f.submit 'Update Profile', class: 'btn btn-lg btn-success'