.page-header
  %h1 Register
.row
  .s6.l6.col-md-offset-3
    .well.well-lg
      = bootstrap_form_for(@user) do |f|
        = f.alert_message "Please fix the errors below."
        = f.text_field :user_name
        = f.email_field :email
        = f.password_field :password, help: 'Must be at least 6 characters long'
        = f.password_field :password_confirmation, help: 'Must match password'
        = f.text_field :full_name, help: 'Optional'
        = f.email_field :paypal_email, help: 'Optional'
        = f.form_group :terms, label: { text: "Review #{ link_to "Terms of Service","#tosModal", 'data-toggle' => "modal" }".html_safe } do
          = f.check_box :terms, label: 'I agree with the Terms of Service.'
        %p.text-center
          = f.submit 'Register', class: 'btn btn-lg btn-success'     
#tosModal.modal.fade{tabindex: '-1', role: 'dialog', 'aria-labelledby' => 'tosModal', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#tosModal.modal-title
          Terms of Service
      .modal-body.tos
        = render "shared/tos"
      .modal-footer
        %button.close{"data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close