.box.panel.panel-primary{ 'id' => "coupon_#{coupon.id}", 'data-type' => "#{coupon_type(coupon)}", 'class' => "#{coupon_type(coupon)}" }
  .panel-heading
    %h5
      %b
        #{coupon.title.split("- ").last}
  .panel-body
    = product_image(coupon)
    -if logged_in?
      = favorites(controller_name, coupon)
      = email_coupon(coupon)
      = render partial: 'shared/coupon_modal', locals: { coupon: coupon }
    .well.well-sm.coupon_well
      %p
        #{coupon.description}
      -if coupon.code 
        %h6
          Coupon Code:
          %b
            #{coupon.code}
      -if logged_in?
        %span.label.label-default
          #{coupon.store_commission} 
          \% cash back
    = button_link(coupon)
    %h6
      - if coupon.preview?
        = not_released(coupon)
      - else
        = time_left_display(coupon)
    %h6
      = category_links(coupon)
        