.footer
  %p.pull-right
    =link_to "Back to Top", "#"
  %p 
    = link_to "Anti-spam Policy", page_path('anti-spam_policy')
    |
    = link_to "DMCA Notice", page_path('dmca_notice')
    |
    = link_to "E-mail Policy", page_path('e-mail_policy')
    |
    = link_to "Privacy Policy", page_path('privacy_policy')
    |
    = link_to "Terms of Use", page_path('terms_of_use')
    |
    = link_to "Terms of Service", page_path('terms_of_service')
  %p
    %small
      © 2014 -2012 Copyright AllKohlsCoupons.com - All Rights Reserved.