.footer
  %p.pull-right
    =link_to "Back to Top", "#"
  %p 
    = link_to "Anti-spam Policy", "#"
    |
    = link_to "DMCA Notice", "#"
    |
    = link_to "E-mail Policy", "#"
    |
    = link_to "Privacy Policy", "#"
    |
    = link_to "Terms of Use", "#"
  %p
    %small
      © 2014 -2012 Copyright AllKohlsCoupons.com - All Rights Reserved.