-provide(:title, "#{title.name}")
-provide(:meta_keywords, "#{meta_keywords}") 
-provide(:meta_description, "#{meta_description}")
- if @coupons.count > 0
  .row
    .s5.l5
      %h1 #{title.name}
    
      = render 'shared/coupon_tabs'
    .s7.l7  
      = render partial: 'shared/carousel', locals: { coupons: @cal_coupons }
    .l12.s12
      = render 'shared/coupon_tab_content'
- else
  %h1 #{title.name}
  %p
    Sorry there are no #{title.name} coupons today.  Checkback tomorrow. #{ link_to "Home", root_path }