-provide(:title, "#{title.name}")
-provide(:meta_keywords, "#{meta_keywords}") 
-provide(:meta_description, "#{meta_description}")
- if @coupons.count > 0
  .row
    .s5.l5
      %h1 #{title.name}
      = render 'shared/coupon_tabs'
    .s7.l7 
      - if display_ad? 
        =render partial: 'shared/ads_display'
      -else
        =render partial: 'shared/carousel', locals: { coupons: @cal_coupons }
  .coupon_header
  .row
    = render 'shared/coupon_tab_content'
    #coupon_modal
    %nav#page-nav
      = will_paginate @coupons
- else
  %h1 #{title.name}
  %p
    Sorry there are no #{title.name} coupons today.  Checkback soon. #{ link_to "Home", root_path }