-coupons.each_with_index do |coupon, i|
  .media{ 'id' => "coupon_#{coupon.id}", 'data-type' => "#{coupon_type(coupon)}" }
    = image_tag("#{coupon.image}",size: "64x64", class: "pull-left media-object", alt: "#{coupon.title}")
    .media-body
      %h4.media-heading
        #{coupon.title}
      -if coupon.code
        %p
          Use Code: 
          %b 
            #{coupon.code}
      %p
        #{coupon.description}
      %p
        = button_link(coupon)