!!! 5
%html(lang="en-US")
  %head
    %title
      = full_title(yield (:title))
    %meta(charset="UTF-8")
    %meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta{ name: "description",  content: (yield :meta_description) }
    %meta{ name: "keywords", content: (yield :meta_keywords) }
    %meta{ property: "og:title", content: "All Kohls Coupons Cash Back" }
    %meta{ property: "og:url", content: "cashback.allkohlscoupons.com" }
    %meta{ property: "og:site_name", content: "CashBack.AllKohlsCoupons.com" }
    %meta{ property: "og:description", content: (yield :meta_description) }
    - unless filt_page?  
      %meta{ name: "robots", content: "noindex" }
    = csrf_meta_tag
    = stylesheet_link_tag "landing"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    /HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    /WARNING: Respond.js doesn't work if you view the page via file:
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
      = javascript_include_tag "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"
    = yield :head
  %body.lp
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              %h3.masthead-brand
                CashBack.AllKohlsCoupons.com
          .inner.cover
            = yield
          .mastfoot
            .inner
              = #render 'shared/footer'